{% extends "selkie_base.html" %}

{% block page_content %}
	<div>
		<h3>Automation HAT Control</h3>
		<p><em>Work in progress</em></p>
		<ul>
			<li><a href="{{url_for(".led_on", num=15)}}">Set</a> or <a href="{{url_for(".led_off", num=15)}}">Clear</a> Warning LED
			<li><a href="{{url_for(".relay_on", num=0)}}">Activate</a> or <a href="{{url_for(".relay_off", num=0)}}">Deactivate</a> Relay 1
			<li><a href="{{url_for(".relay_on", num=1)}}">Activate</a> or <a href="{{url_for(".relay_off", num=1)}}">Deactivate</a> Relay 2
			<li><a href="{{url_for(".relay_on", num=2)}}">Activate</a> or <a href="{{url_for(".relay_off", num=2)}}">Deactivate</a> Relay 3
		</ul>
	</div>
{% endblock %}
